.ira-card-card-container{
    padding-top: 4rem;
    padding-bottom: 6rem;
    background-color: #f9feff;
}

.ira-card-card-wrapper{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.ira-card-card-wrapper > *{
    /* flex: 1 1 calc(33.333% - 16px); */
    flex-basis: calc(30% - 16px);
    min-width: 200px;
}

.ira-card-each-card{
    min-height: 320px;
    /* min-width: 200px; */
    max-width: 400px;
    min-width: 280px;
    /* background-color: #f8c9f6; */
    background-color: #fff;
    border: 1px solid #e7e7e7;
    padding: 2rem 2.4rem;
    border-radius: 5px;
    &:hover{
        box-shadow: 0 0 40px rgba(50, 50, 50, .1);
        transform: translateY(-5px);
        z-index: 1;
    }
}

.ira-card-img{
    width: 40%;
}

.ira-card-des-container{
    font-family: 'Roboto';
}

.ira-card-head{
    font-size: 16px;
    color: #03112e;
    line-height: 3;
    letter-spacing: 0.3px;
}

.ira-card-text{
    color: #748494;
    font-size: 1rem;
    font-family: system-ui;
    font-weight: 400;
    letter-spacing: 0.4px;
}