.main-feature-container{
    min-height: 400px;
    /* background: linear-gradient(to right, rgb(247, 214, 214), rgb(224, 224, 255)); */
    /* background: rgb(247, 252, 255); */
    background: rgb(18, 12, 56);
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.main-feature-wrapper{
    max-width: 1200px;
    margin: auto;
}

.main-feature-head-container{
    margin-bottom: 3rem;
    color: rgb(255, 255, 255);
}

.main-feature-card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.8rem;
}

.main-feat-card-holder{
    position: relative;
    z-index: 10;
    width: calc(33.333%);
    min-width: 240px;
    max-width: 320px;
    min-height: 280px;
    background: rgb(255, 56, 215);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 20%, 80% 0);
    padding: 2rem 1rem;
    font-family: 'Roboto', sans-serif;
    text-align: start;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    &:hover{
        /* box-shadow: 1px 1px 4px 3px white; */
        transform: translateY(-4px);
    }
}

.main-feat-card-holder::after{
    content: '';
    position: absolute;
    z-index: -1;
    inset: 2px;
    background-color: white;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 20%, 80% 0);
    border-radius: 8px;
}



.main-feat-card-upper{
    margin-bottom: 2rem;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-feat-card-upper > h3{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: rgb(5, 4, 39);
}

.main-feat-card-upper > img{
    max-width: 64px;
    max-height: 64px;
}


.main-feat-card-bottom > p{
    font-family: roboto;
    font-weight: 400;
    color: grey;
}