.feature-slider-top{
    position : relative;
    top : 86px;
    background : #232121;
}

.feature-slider-container{
    padding: 2rem 2rem;
    overflow: hidden;
}
 
.feature-slider-head{
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}


@media screen and (max-width : 520px) {
    
    .feature-slider-container{
        padding: 2rem 0;
    }
}