@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tiny5&display=swap');

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .nav-top-section  a {
    font-family: "Roboto" sans-serif;
    font-weight: 500;
  }

.scrolled{
    background-color: white;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.197);
}


.nav-top-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 86px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.hb-icon{
    width: 34px;
    height: 34px;
}



@media screen and (min-width : 1086px) {

    .dc-nav-options{
        display: flex;
        flex-direction: row;
        /* background-color: red; */
        column-gap: 1rem;
        position: relative;
    }

    .dc-nav-each-option{
        /* background-color: white; */
    }

    .dc-nav-each-option > a{
        padding: 10px 14px;
        display: inline-block;
    }

    .dc-nav-each-hov-section{
        position: absolute;
        width: 120%;
        height: 400px;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 6px;
        background-color: #fffcfc;
        top: 100%;
        /* left: 0; */
        right: 50%;
        transform: translateX(50%);
        padding: 2rem;
        overflow: scroll;
        scrollbar-width: none;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        box-shadow: 0px 2px 8px 0px grey;
    }

    .dc-nav-each-option:hover .dc-nav-each-hov-section{
        visibility: visible;
        opacity: 1;
    }

    .dc-nav-hov-options{
        display: inline-flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        row-gap: 1.2rem;
        min-width: 186px;
        border-right: 3px solid rgb(222 222 255);
        border-radius: 3px;
    }

    .dc-nav-hov-each-option{
        width: 94%;
        display: flex;
        flex-direction: row;
        background-color: white;
        color: rgb(53, 53, 53);
        column-gap: 1.2rem;
        padding: 1rem;
        text-align: center;
        justify-content: center;
        border-radius: 4px;
        box-shadow: 0px 0px 3px 2px #4d4d4d17;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover{
            transform: scale(1.02);
            background-color: rgb(255, 251, 251);
        }
    }

    .dc-nav-hov-each-option:hover > .dc-nav-hov-sub-options{
        transition: all 0.5s ease-in-out;
        display: flex;
    }
    
    .dc-nav-hov-sub-options{
        display: flex;
        flex-direction: column;
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        width: 200px;
        align-items: end;
        row-gap: 1rem;
        transition: all 0.5s ease-in-out;
    }

    .dc-nav-hov-sub-options > a{
        padding: 1rem;
        border: 1px solid rgb(255, 255, 255);
        background-color: white;
        box-shadow: 0px 0px 3px 2px #4d4d4d17;
        border-radius: 4px;
        width: 80%;
        transition: all 0.5s ease-in-out;
        &:hover{
            background-color: rgb(225, 225, 250);
        }
    }

    .hamburger-menu-dd-top, .hamburger-menu{
        display: none;
    }
}






@media screen and (max-width : 1086px) {

    .dc-nav-options{
        display: none;
    }
    
    .nav-top-section{
        justify-content: space-between;
        background-color: white;
    }

    .nav-top-section > .hamburger-menu {
        margin-right: 1rem;
    }

    .nav-top-section > .name-logo-container{
        margin-left: 1rem;
    }

    .hamburger-menu{
        display: block;
        padding: 4px;
        cursor: pointer;
    }

    .nav-options, .right-section{
        display: none;
    }

    .hamburger-menu-dd-top{
        background-color: rgba(255, 255, 255, 0.5);
        top: 55px;
        left: 0;
        margin-top: 31px;
        min-height: 60vh;
        height: 100vh;
        position: absolute;
        width: 100%;
        z-index: 10;
        padding: 1rem 2rem;
        backdrop-filter: blur(4px);
    }

    .show-hb-dd{
        display: block;
    }

    .hide-hb-dd{
        display: none;
    }

    .hb-menu-dd-item-name{
        padding: 1.4rem 1rem;
        color: white;
        font-family: sans-serif;
        font-size: 1.4rem;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }

    .hb-menu-dd-items:hover{
         background-color: rgba(255, 169, 8, 0.8);
    }

    .hb-menu-dd-items{
        width: 94%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px 10px 10px 10px;
        padding-bottom: 0.8rem;
        transition: all 0.2s ease-in-out;
    }

    .arr-down-img{
        width: 34px;
        height: 34px;
    }

    .hb-menu-dd-sub-items{
        color: white;
        font-family: sans-serif;
        font-size: 1.2rem;
        font-weight: 100;
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .show-sub-items{
        display: flex;
    }

    .hide-sub-items{
        display: none;
    }

    .dd-sub-item{
        color: white;
        background-color: none;
        text-decoration: none;
        padding: 1rem 1rem;
        transition: all 0.5s ease-in-out;
        border-radius: 2rem;
        &:hover{
            transition: all 0.3s ease-in-out;
            background-color: rgba(255, 255, 255, 0.795);
            color: black;
            border-radius: 2rem;
        }
    }
}



@media screen and (max-width : 400px) {
    
    .hamburger-menu-dd-top{
        padding: 1rem 0;
    }

    .hb-menu-dd-items{
        width: 100%;
    }
    
    .nav-top-section{
        background-color: white;
    }
}